/* styles/About.css */
.about-container {
    text-align: center;
    padding: 50px;
  }
  
  .about-title {
    font-size: 28px;
    color: #333;
  }
  
  .about-content {
    font-size: 18px;
    color: #666;
  }
  